<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Development Area</title>
    <!-- ALL CSS FILES  -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>
  <body>
    <div id="root">
      <div class="wrap-table">
        <!-- Add new user template -->
        <div class="card mb-3" style="width: 400px; margin: auto">
          <div class="card-body">
            <h2 v-if="edit.name">Edit user</h2>
            <h2 v-else="edit.name">Add new user</h2>
            <hr />
            <input v-model="edit.id" type="hidden" @:value="edit.id" />
            <div v-if="edit.name" class="form-group">
              <label for="">Name</label>
              <input
                @:value="edit.name"
                v-model="edit.name"
                type="text"
                class="form-control"
                placeholder="Name"
              />
            </div>
            <div v-else="edit.name" class="form-group">
              <label for="">Name</label>
              <input
                v-model="user.name"
                type="text"
                class="form-control"
                placeholder="Name"
              />
            </div>
            <div v-if="edit.email" class="form-group">
              <label for="">Email</label>
              <input
                @:value="edit.email"
                v-model="edit.email"
                type="email"
                class="form-control"
                placeholder="Email"
              />
            </div>
            <div v-else="edit.email" class="form-group">
              <label for="">Email</label>
              <input
                v-model="user.email"
                type="email"
                class="form-control"
                placeholder="Email"
              />
            </div>
            <div v-if="edit.cell" class="form-group">
              <label for="">Cell</label>
              <input
                @:value="edit.cell"
                v-model="edit.cell"
                type="text"
                class="form-control"
                placeholder="Cell"
              />
            </div>
            <div v-else="edit.cell" class="form-group">
              <label for="">Cell</label>
              <input
                v-model="user.cell"
                type="text"
                class="form-control"
                placeholder="Cell"
              />
            </div>
            <div v-if="edit.photo" class="form-group">
              <label for="" class="d-block">Upload Photo</label>
              <input ref="file" type="file" @:value="edit.photo" />
              <img
                style="height: 100px; width: 120px; margin-top: 2px"
                :src="'photos/users/'+edit.photo"
                alt=""
              />
            </div>
            <div v-else="edit.photo" class="form-group">
              <label for="" class="d-block">Upload Photo</label>
              <input ref="file" type="file" />
            </div>
            <div v-if="edit.name" class="form-group">
              <input
                type="submit"
                class="btn btn-success btn-block btn-sm mt-2"
                @click="updateUser"
                value="Edit user"
              />
            </div>
            <div v-else="edit.name" class="form-group">
              <input
                type="submit"
                class="btn btn-success btn-block btn-sm mt-2"
                @click="addNewUser"
                value="Add user"
              />
            </div>
          </div>
        </div>
        <!-- End Add new user template -->
        <!-- All user data template -->
        <div class="card shadow">
          <div class="card-body">
            <h2>All Data</h2>
            <input
              v-model="search"
              @keyup="searchUserData"
              style="float: right"
              type="text"
              placeholder="Search User"
            /><br /><br />
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Cell</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, i) in users">
                  <td>{{ i+1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.cell }}</td>
                  <td>
                    <img :src="'photos/users/'+user.photo" alt="" />
                  </td>
                  <td>
                    <a
                      @click="viewSingleUser(user.id)"
                      class="btn btn-sm btn-info"
                      data-toggle="modal"
                      href="#view_user_modal"
                      >View</a
                    >
                    <a
                      @click="editUserData(user.id, $event)"
                      class="btn btn-sm btn-warning"
                      href="#"
                      >Edit</a
                    >
                    <a
                      class="btn btn-sm btn-danger"
                      href="#"
                      @click="deleteUser(user.id, $event)"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End All user data template -->
      </div>
      <!-- Start View single user by modal -->
      <div id="view_user_modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <img
                style="
                  height: 200px;
                  width: 200px;
                  border: 5px solid #fff;
                  border-radius: 50%;
                  display: block;
                  margin: auto;
                "
                class="shadow"
                :src="'photos/users/'+ single.photo"
                alt=""
              />
              <h2 class="text-center">{{ single.name }}</h2>
              <table class="table table-striped">
                <tr>
                  <td>Name</td>
                  <td>{{ single.name }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{ single.email }}</td>
                </tr>
                <tr>
                  <td>Cell</td>
                  <td>{{ single.cell }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End View single user by modal -->
    </div>

    <!-- JS FILES  -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Vue JS Link -->
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.js"></script>

    <!-- vue js create instance -->
    <script>
      const root = new Vue({
        el: "#root",
        data: {
          users: [],
          user: {
            name: "",
            email: "",
            cell: "",
            photo: "",
          },
          single: {
            name: "",
            email: "",
            cell: "",
            photo: "",
          },
          edit: {
            name: "",
            email: "",
            cell: "",
            photo: "",
            id: "",
          },
          search: "",
        },
        methods: {
          //get all user data method
          getAllUser: function () {
            axios.get("inc/user.php?action=read").then(function (response) {
              root.users = response.data;
            });
          },
          //add new user data method
          addNewUser: function () {
            //validation form
            if (
              this.user.name == "" ||
              this.user.email == "" ||
              this.user.cell == ""
            ) {
              alert("All fields are required!");
            } else {
              //get image refarence
              this.user.photo = root.$refs.file.files[0];

              //all data bind by FormData() class
              let userData = new FormData();

              userData.append("name", this.user.name);
              userData.append("email", this.user.email);
              userData.append("cell", this.user.cell);
              userData.append("photo", this.user.photo);

              axios
                .post("inc/user.php?action=create", userData, {
                  headers: {
                    "Content-Type": "multipart/form-data",
                  },
                })
                .then(function (response) {
                  console.log(response.data);
                  root.getAllUser();
                  //data successfully add then blank the form
                  root.user.name = "";
                  root.user.email = "";
                  root.user.cell = "";
                });
            }
          },
          //delete user method
          deleteUser: function (id, event) {
            event.preventDefault();
            let con = confirm("Are you sure you want to delete?");
            if (con) {
              axios
                .get("inc/user.php?action=delete&id=" + id)
                .then(function (response) {
                  console.log(response.data);
                  root.getAllUser();
                });
            } else {
              alert("You are safe!");
            }
          },
          //view single user action
          viewSingleUser: function (id) {
            axios
              .get("inc/user.php?action=single&id=" + id)
              .then(function (response) {
                root.single.name = response.data.name;
                root.single.email = response.data.email;
                root.single.cell = response.data.cell;
                root.single.photo = response.data.photo;
              });
          },
          //search user data action
          searchUserData: function () {
            axios
              .get("inc/user.php?action=search&search=" + root.search)
              .then(function (response) {
                root.users = response.data;
              });
          },
          //edit user data action
          editUserData: function (id, event) {
            event.preventDefault();
            axios
              .get("inc/user.php?action=edit&id=" + id)
              .then(function (response) {
                root.edit = response.data;
                console.log(response.data);
              });
          },
          //update user data action
          updateUser: function () {
            //get image refarence
            this.edit.photo = root.$refs.file.files[0];

            //update data get
            let updateData = new FormData();

            updateData.append("name", this.edit.name);
            updateData.append("email", this.edit.email);
            updateData.append("cell", this.edit.cell);
            updateData.append("photo", this.edit.photo);
            updateData.append("id", this.edit.id);

            axios
              .post("inc/user.php?action=update", updateData, {
                headers: {
                  "Content-Type": "multipart/form-data",
                },
              })
              .then(function (response) {
                root.getAllUser();
              });
          },
        },
        created: function () {
          this.getAllUser();
        },
      });
    </script>
  </body>
</html>
