<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Development Area</title>
    <!-- ALL CSS FILES  -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>
  <body>
    <div id="root">
      <div class="wrap-table">
        <!-- Add new user template -->
        <div class="card mb-3" style="width: 400px; margin: auto">
          <div class="card-body">
            <h2>Add new user</h2>
            <hr />
            <div class="from-group">
              <label for="">Name</label>
              <input
                v-model="user.name"
                type="text"
                class="form-control"
                placeholder="Name"
              />
            </div>
            <div class="from-group">
              <label for="">Email</label>
              <input
                v-model="user.email"
                type="email"
                class="form-control"
                placeholder="Email"
              />
            </div>
            <div class="from-group">
              <label for="">Cell</label>
              <input
                v-model="user.cell"
                type="text"
                class="form-control"
                placeholder="Cell"
              />
            </div>
            <div class="form-group">
              <input
                type="submit"
                class="btn btn-success btn-block btn-sm mt-2"
                @click="addNewUser"
                value="Add user"
              />
            </div>
          </div>
        </div>
        <!-- End Add new user template -->
        <!-- All user data template -->
        <div class="card shadow">
          <div class="card-body">
            <h2>All Data</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Cell</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, i) in users">
                  <td>{{ i+1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.cell }}</td>
                  <td>
                    <img
                      src="assets/media/img/pp_photo/istockphoto-615279718-612x612.jpg"
                      alt=""
                    />
                  </td>
                  <td>
                    <a class="btn btn-sm btn-info" href="#">View</a>
                    <a class="btn btn-sm btn-warning" href="#">Edit</a>
                    <a
                      class="btn btn-sm btn-danger"
                      href="#"
                      @click="deleteUser(user.id, $event)"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End All user data template -->
      </div>
    </div>

    <!-- JS FILES  -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Vue JS Link -->
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.js"></script>

    <!-- vue js create instance -->
    <script>
      const root = new Vue({
        el: "#root",
        data: {
          users: [],
          user: {
            name: "",
            email: "",
            cell: "",
          },
        },
        methods: {
          //get all user data method
          getAllUser: function () {
            axios.get("inc/user.php?action=read").then(function (response) {
              root.users = response.data;
            });
          },
          //add new user data method
          addNewUser: function () {
            axios
              .post("inc/add.php", {
                name: root.user.name,
                email: root.user.email,
                cell: root.user.cell,
              })
              .then(function (response) {
                console.log(response.data);
                root.getAllUser();
                //data successfully add then blank the form
                root.user.name = "";
                root.user.email = "";
                root.user.cell = "";
              });
          },
          //delete user method
          deleteUser: function (id, event) {
            event.preventDefault();
            let con = confirm("Are you sure you want to delete?");
            if (con) {
              axios.get("inc/delete.php?id=" + id).then(function (response) {
                console.log(response.data);
                root.getAllUser();
              });
            } else {
              alert("You are safe!");
            }
          },
        },
        created: function () {
          this.getAllUser();
        },
      });
    </script>
  </body>
</html>
